# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# VS Code
.vscode/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# OS files
.DS_Store

# NuGet
*.nupkg
.nuget/

# EF Core local files
appsettings.Development.json